<app-toolbar [backUrl]="'/fd-tracker'" [text]="'Track FD'" (backButtonEvent)="backButtonClick($event)"></app-toolbar>
<app-investment-overview-dashboard *ngIf="!isInProgress"
  [investmentData]="investments" [dataType]="'investment'"></app-investment-overview-dashboard>

<app-progress-loader [isInProgress]="isInProgress"></app-progress-loader>

<ng-container *ngFor="let investment of investments">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{investment.orgName}}</mat-card-title>
        <mat-card-subtitle>{{investment.orgType}}</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="card-subdetail-list">
        <div class="card-subdetail">
          <p>
            Invested
          </p>
          <p>
            {{investment.investmentAmount}}
          </p>
        </div>
        <div class="card-subdetail">
          <p>
            Maturity Date
          </p>
          <p>
            {{getMaturityDate(investment.year, investment.months,investment.days)}}
          </p>
        </div>
        <div class="card-subdetail">
          <p>
            Interest Rate
          </p>
          <p>
            {{investment.rateOfInterest}}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</ng-container>