<app-toolbar [backUrl]="'/fd-tracker'" [text]="'Track FD'" (backButtonEvent)="backButtonClick($event)"></app-toolbar>
<app-investment-overview-dashboard *ngIf="!isInProgress"
  [investmentData]="[investment]" [dataType]="'investment'"></app-investment-overview-dashboard>

<app-progress-loader [isInProgress]="isInProgress"></app-progress-loader>

<p>Investment Details</p>
<mat-card class="card-content">
    <mat-card-content>
      <div>
        <p>Invested Amount</p>
        <p>$4</p>  
      </div>
      <mat-divider></mat-divider>
      <div>
        <p>Invested Amount</p>
        <p>$4</p>  
      </div>
      <mat-divider></mat-divider>
      <div>
        <p>Invested Amount</p>
        <p>$4</p>  
      </div>
      <mat-divider></mat-divider>
      <div>
        <p>Invested Amount</p>
        <p>$4</p>  
      </div>
      <mat-divider></mat-divider>
      <div>
        <p>Invested Amount</p>
        <p>$4</p>  
      </div>
      <mat-divider></mat-divider>
      <div>
        
      </div>

    </mat-card-content>
  </mat-card>
{{investment | json}}