<app-toolbar></app-toolbar>
<div>
    <div class="child-content1">
        <p>
            Current value
        </p>
        <h1>
            $100.22
        </h1>
    </div>
    

    <div class="child-content2">
        <div>
            <p>
                Invested value
            </p>
            <h4>
                $20
            </h4>
        </div>
        

        <div>
            <p>
                Average return
            </p>
            <h4>
                7.7%
            </h4>
        </div>
        

        <div>
            <p>
                Interest earned
            </p>
            <h4>
                $80
            </h4>
        </div>

    </div>
</div>
<mat-divider></mat-divider>

<br>
<p class="tab-text">
    My Holdings
</p>

<div class="track-fd-div">
    <button mat-raised-button color="primary" routerLink="/create">
        Track FD
    </button>
</div>

<app-progress-loader [isInProgress]="isInProgress"></app-progress-loader>

<!-- Cards with media area -->
<mat-card class="example-card" *ngFor="let category of categories" >
  <a (click)="navigateTo('investments/'+category._id)" href="javascript:void(0)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{category.name}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita incidunt, maiores culpa quae adipisci ipsa voluptas hic nam eligendi odit, ad cupiditate totam facilis dicta magni aliquam, est maxime. Maiores?
    </mat-card-content>
  </a>
  </mat-card>
  
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Medium</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita incidunt, maiores culpa quae adipisci ipsa voluptas hic nam eligendi odit, ad cupiditate totam facilis dicta magni aliquam, est maxime. Maiores?
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita incidunt, maiores culpa quae adipisci ipsa voluptas hic nam eligendi odit, ad cupiditate totam facilis dicta magni aliquam, est maxime. Maiores?
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita incidunt, maiores culpa quae adipisci ipsa voluptas hic nam eligendi odit, ad cupiditate totam facilis dicta magni aliquam, est maxime. Maiores?
    </mat-card-content>
  </mat-card> -->